{%- assign p = site.data.person -%}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": {{ p.name | jsonify }},
  "alternateName": {{ p.alternateName | jsonify }},
  "jobTitle": {{ p.role | jsonify }},
  "description": {{ site.description | strip_newlines | jsonify }},
  "url": {{ site.url | jsonify }},
  "image": {{ site.url | append: '/assets/img/og.png' | jsonify }},
  "email": {{ p.links | where: 'kind', 'email' | first | map: 'label' | jsonify }},
  "worksFor": {
    "@type": "Organization",
    "name": {{ p.organization.name | jsonify }},
    "url": {{ p.organization.url | jsonify }},
    "foundingDate": {{ p.organization.foundingDate | jsonify }},
    "description": {{ p.organization.description | strip_newlines | jsonify }},
    "logo": {
      "@type": "ImageObject",
      "url": {{ p.organization.logo | jsonify }}
    }
  },
  "address": {
    "@type": "PostalAddress",
    "addressLocality": "Tallinn",
    "addressCountry": "EE"
  },
  "knowsAbout": {{ p.knowsAbout | jsonify }},
  "sameAs": {{ p.sameAs | jsonify }}
}
</script>